/*STYLE SHEETS*/

.top{
	  width: 100%;
	  background-color: #2c2c2c;
	  background-image: -moz-linear-gradient(top, #333333, #222222);
	  background-image: -ms-linear-gradient(top, #333333, #222222);
	  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	  background-image: -webkit-linear-gradient(top, #333333, #222222);
	  background-image: -o-linear-gradient(top, #333333, #222222);
	  background-image: linear-gradient(top, #333333, #222222);
	  background-repeat: repeat-x;
	  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	  /*-webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    border-radius: 4px;*/
	  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.bottom{
	width: 100%;
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
	height: 40px;
	position: absolute;
	bottom: 0;
}


.navbar-search input {
 width: 100px;
 -moz-transition: width 0.35s ease-out;
 -webkit-transition: width 0.35s ease-out;
 transition: width 0.35s ease-out;
}
.navbar-search input:focus {
 width: 250px;
 -moz-transition: width 0.35s ease-out;
 -webkit-transition: width 0.35s ease-out;
 transition: width 0.35s ease-out;
}
.rightside{
	float: right;
	padding-right: 20px;
}
}