<!DOCTYPE html>
<head>
	{% block head %}
    <title>{% block title %}{% endblock %}</title>
	<!--STYLESHEETS-->
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" />
	<!--JS-->
	<script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
	<script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
	<script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
	<script language="JavaScript" type="text/javascript" src="{{ STATIC_URL }}js/login.js"></script>
	
	<script language="JavaScript" type="text/javascript">
		$('.dropdown-toggle').dropdown()
	</script>
	
	
	{% endblock %}
	
</head>
<body>
	<header class="top">
		<div class="navbar container">
			<div class="navbar-inner">
			    <div class="container">
					<a class="brand" href="#">
					  Project Voodoo
					</a>
			      	<ul class="nav">
					  <li class="active">
					    <a href="#">Home</a>
					  </li>
					  <li><a href="#">About Us</a></li>
					  <li><a href="#">Contact Us</a></li>
					</ul>
					<ul class="nav pull-right">
						<li class="divider-vertical"></li>
						<li><a data-toggle="modal" href="#signup">Sign-up</a></li>
						<li><a data-toggle="modal" href="#signin">Sign-in</a></li>
					</ul>
					<div id="signin" class="modal hide fade">
						  <div class="modal-header">
						    <a class="close" data-dismiss="modal">×</a>
						    <h3>Welcome Back!</h3>
						  </div>
						  <div class="modal-body">
						  	<div class="span3">
						      <label>Username</label>
							  <input type="text" class="span3" placeholder="Type something…">
							  <label>Password</label>
							  <input type="text" class="span3" placeholder="Type something…">
							  
							  <label class="checkbox">
							    <input type="checkbox"> Remember Me
							  </label>
							 </div>
							 <div class="span3">
							 	<h4>Not a Member Yet?</h4>
							 	<a id="newuser"><button type="submit" class="btn btn-primary">Sign-up</button></a>
							 </div>
						  </div>

						  <div class="modal-footer dark">
						    <button type="submit" class="btn btn-primary">Sign-in</button>
						  </div>
					</div>
					<div id="signup" class="modal hide fade">
						<div class="modal-header">
						    <a class="close" data-dismiss="modal">×</a>
						    <h3>Welcome!</h3>
						</div>
						<div class="modal-body">
						</div>
						<div class="modal-footer">
						</div>
					</div>
			    </div>
			</div>
		</div>
	</header>
	{% block action %}
	
	{% endblock %}
	{% block filter %}

	{% endblock %}
	{% block port-wall %}
	
	{% endblock %}
	<footer class="bottom">
		
	</footer>
<script language="JavaScript" type="text/javascript">
		
			$('#newuser').on('click', function () {
				$('#signin').modal('hide');
				$('#signup').modal('show');
			})
</script>
</body>
</html>