<!DOCTYPE html>
<head>
	{% block head %}
    <title>{% block title %}{% endblock %}</title>
	<!--STYLESHEETS-->
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap-responsive.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/bootstrap.css" type="text/css" media="screen" />
	<link rel="stylesheet" href="{{ STATIC_URL }}/css/style.css" type="text/css" media="screen" />
	<!--JS-->
	<script type="text/javascript" src="{{ STATIC_URL }}/js/bootstrap.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript">
		$('.dropdown-toggle').dropdown()
	</script>
	{% endblock %}
</head>
<body>
	<header id="header">
		<div id="logo">Project Voodoo</div>
		<div id="login"></div>
	</header>
	<section id="navbar">
		<nav id="mainNav">
			{% block nav %}
			
			{% endblock %}
		</nav>
		<div id="filters"></div>
	</section>
	<footer id="bottom">
		
	</footer>
</body>
</html>