<div id="tj_container" class="tj_container">
	<div class="tj_nav">
		<span id="tj_prev" class="tj_prev">Previous</span>
		<span id="tj_next" class="tj_next">Next</span>
	</div>
	<div class="tj_wrapper">
		<ul class="tj_gallery">
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>
			<li><a href="#"><img src="http://placehold.it/140x180" alt="image02" /></a></li>

		</ul>
	</div>
</div>